@font-face{
    font-family: "poppins";
    src: url(fonts/Poppins/Poppins-Medium.ttf);
    font-style: normal;
    font-weight: 400;
}
.text{
font-family: "poppins";
font-size: 16px;
}
.flex{
    display: flex;
}
.g{
    color:  #767B99;
}